

/***************************
Text
***************************/

@font-face {
    font-family: 'Biotif';
    src: url('../fonts/Biotif-Medium.eot');
    src: url('../fonts/Biotif-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Biotif-Medium.woff2') format('woff2'),
        url('../fonts/Biotif-Medium.woff') format('woff'),
        url('../fonts/Biotif-Medium.ttf') format('truetype'),
        url('../fonts/Biotif-Medium.svg#Biotif-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
   -webkit-font-smoothing: antialiased;
}

textarea {
  width: 125%;
  height: 175px;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
}


h1,
h2,
h3,
p,
a,
form,
btn-success
{
    font-family: "Biotif", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0;
    color: #151515;
    letter-spacing: 1.75px;
    font-weight: bolder;

}

.hi
{
  font-size: 2.5em;
}

.info
{
  font-size: 1em;
}

.padding
{
  padding-top: 100px;
}

.title
{
  font-size: 2.5em;
  color: #FFF;
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.category
{
  font-size: 1em;
  color: #FFF;
  letter-spacing: 5px;
  font-weight: bold;
}

    hr{
        height: 1px;
        background-color: #ccc;
        border: none;
    }

    /* unvisited link */


/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: grey;
}

/***************************
Navbar
***************************/
 .navbar
 {
background-color: #151515;
-webkit-box-shadow: 0px 8px 21px -11px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 8px 21px -11px rgba(0,0,0,0.25);
box-shadow: 0px 8px 21px -11px rgba(0,0,0,0.25);
 }

 .navbar-brand
 {
color: #FFF;
 }

  .nav-link
 {
color: #FFF;
margin-right: 40px;
 }



/***************************
Content
***************************/

.header
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: rgb(238,238,238);
    background: linear-gradient(0deg, rgba(238,238,238,1) 18%, rgba(228,228,228,1) 100%);
  }

  .spacer
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    padding-top: 1px;
    background: rgb(238,238,238);
    background: linear-gradient(0deg, rgba(238,238,238,1) 18%, rgba(228,228,228,1) 100%);
  }

.about
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    margin-top: 0px;
}

.logo
{  
      border-right: 1px solid #000;
      padding-right: 50px;
}
.welcome
{  
      padding-left: 50px;
}


.portfolio
{
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: right;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #151515;


}

.it
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: right;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #151515;
}

.contact
{
      color: #151515;
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 150px;
background: rgb(238,238,238);
background: linear-gradient(0deg, rgba(238,238,238,1) 18%, rgba(228,228,228,1) 100%);
  }

.thumbs
{
    width: 125px;
    margin-right: 5px;
    margin-bottom: 15px;
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 1px solid #000000;
      filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

.certlogo
{
    width: 200px;
    margin-right: 5px;
    margin-bottom: 15px;
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
      filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

  


.thumbs:hover
{
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
}

.certlogo:hover
{
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
}

.footer {
    position: relative;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    background-color: #000000;
}

.button
{
border: 0;
color: #151515;
}

.button:hover {color: grey;}


.dot
{
  color:grey;
  align-self: center;
}


#hank
{
  margin-top: 0px;
  width: 250px;
  padding-top: 0px;
}


#icon
{
  width: 50px;
  margin-right: 40px;
  margin-left: 10px;
}

#pencil
{
      width: 150px;
}

#computer
{
  width: 175px;
}

#contact-sat
{
  width: 200px;
}


@media screen and (max-width: 995px) {


#hank
{
      display: none;
    visibility: hidden;
}

.thumbs
{
    width: 100px;
}

#pencil
{
      display: none;
}

#computer
{
      display: none;
}

#contact-sat
{
      display: none;
}

.certlogo
{
    width: 100px;
    padding-left:0px;
    margin-left:-10px;
}

.padding
{
  margin-left:50px;
  padding-top: 0px;
}

  